ASPNETCORE_ENVIRONMENT=Development
POSTGRES_DB=carbon_footprint
POSTGRES_USER=carbon_app
POSTGRES_PASSWORD=change-this-local-password
CONNECTIONSTRINGS__DATABASE=Host=postgres;Port=5432;Database=carbon_footprint;Username=carbon_app;Password=change-this-local-password
MINIO_ROOT_USER=carbon_minio
MINIO_ROOT_PASSWORD=change-this-local-password
OBJECTSTORAGE__ENDPOINT=http://minio:9000
OBJECTSTORAGE__BUCKET=carbon-evidence
MAIL__HOST=mailpit
MAIL__PORT=1025
